* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 99.3vh;
}

.video-cont {
    height: 100%;
    width: 100%;
    background: black;
}

body div video {
    height: 100%;
    width: 100%;
}

.action-cont {
    height: 12rem;
    width: 5rem;
    position: absolute;
    top: calc((100vh - 12rem) / 2);
    right: 3.5rem;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.action-cont>* {
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn {
    background: red;
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
}

.capture-btn {
    background: white;
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
}

.record-btn:hover {
    cursor: pointer;
}

.capture-btn:hover {
    cursor: pointer;
}

.scale-capture {
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

.scale-record {
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

@keyframes scale-record {
    0% {
        transform: scale(0.4);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes scale-capture {
    0% {
        transform: scale(0.4);
    }

    100% {
        transform: scale(1.2);
    }
}

.timer-cont {
    position: absolute;
    bottom: 10.3rem;
    right: 3.1rem;
    color: lightgoldenrodyellow;
}

.timer {
    display: none;
    z-index: 2;
}

.filter-cont {
    position: absolute;
    top: calc((100vh - 16rem)/2);
    left: 5rem;
    height: 16rem;
    width: 5rem;
    z-index: 2;
}

.filter {
    height: 4rem;
    width: 100%;
    background-image: url("https://picsum.photos/id/870/200/300?grayscale&blur=2");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.color1{
    background-color: rgba(244, 141, 141, 0.249);
    background-blend-mode: color-burn;
}
.color2{
    background-color: rgba(0, 0, 255, 0.18);
    background-blend-mode: color-burn;
}
.color3{
    background-color: rgba(144, 238, 144, 0.253);
    background-blend-mode: color-burn;
}

.filter-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 99.98vh;
    width: 99.98vw;
    z-index: 1;
}

.login-cont{
    position: absolute;
    right: 4rem;
    top: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    background: transparent;
    display: flex;
    border: 2px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    z-index: 2;
}

.login-cont:hover {
    cursor: pointer;
}

.link{
    color: white;
}

.gallery-cont{
    position: absolute;
    bottom: 5.5rem;
    right: 3.9rem;
    height: 4.2rem;
    width: 4.2rem;
    background: transparnt;
    border: 2px solid white;
    color: white;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.gallery > span{
    font-size: 45px;
    color: white;
}

.gallery-cont:hover{
    cursor: pointer;
}

